/Project3/Project_3_files/figure-latex/Chunk26-1.pdf
/Project3/Project_3_files/figure-latex/Chunk24-1.pdf
/Project3/Project_3_files/figure-latex/Chunk20-1.pdf
/Project3/Project_3_files/figure-latex/Chunk17-1.pdf
.Rproj.user
.Rhistory
.RData
